@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Lato&display=swap');

:root {
    --primary-color: #26547C;
    --secondary-color: #A4DEF9;
    --accent1-color: #D2CCA1;
    --accent2-color: #9E6240;

    --heading-font: 'Darumadrop One', serif;
    --paragraph-font: Lato, serif;

    --nav-background-color: #D2CCA1;
    --nav-link-color: #9E6240;
    --nav-hover-link-color: #26547C;
    --nav-hover-background-color: #A4DEF9;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Darumadrop One';
    color:#26547C;
}

body {
    font-family: Lato;
    max-width: 960px;
    padding: 20px;
}

nav a {
    text-decoration: none;
    color: #9E6240;
}

/* This next line may need to be adjusted at some point. 
The instructions encouraged me to try it, but it is not necessary
if it causes any issues, feel free to remove it. */

* {
    max-width: 700px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    opacity: 0.70;
}

h1 {
    position: absolute;
    bottom: 350px;
    left: 260px;
    color: navy;
}

article {
    position: absolute;
    top: 75px;
    left: 21px;
    background-color: #1d4b73;
    padding: 1em;
    opacity: 0.85;
    max-width: 570px;
}

article p {
    color: lightgrey;
}

article img {
    float: right;
    max-width: 150px;
}

header {
    display: grid;
    margin: 1rem auto;
    grid-template-columns: 1fr 2fr;
    border-bottom: 2px solid #26547C;
    background-color: #A4DEF9
}

header img {
    margin: 0 0 0.5rem 0;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation a {
    border: 1px solid black;
    width: 100px;
    padding: 5px;
    box-sizing: border-box;
    background-color: #D2CCA1;
    text-align: center;
}

.navigation a:hover {
    color:#26547C;
    text-decoration: underline;
    font-weight: 600;
}

h2 {
    text-align: center;
} 

.history-container {
    display: flex;
}

.history-container :first-child {
    padding-right: 20px;
}

.history-container p:nth-of-type(2) {
    padding-left: 25px;
}

.history-container img {
    width: 200px;
}


.rafting-images {
    display: flex;
    justify-content: center;
    margin: 0 0 100px 0;
}

figure {
    height: 9vh;
    width: 9vh;
    flex-grow: 1;
}

figure img {
    object-fit: cover;
    margin: 0;
    width: 13vh;
    height: 13vh;
}

figcaption {
    text-align: right;
}

footer {
    text-align: center;
    background-color: #A4DEF9;
}

.sociallinks {
    text-align: right;
}    
